
.DS_Store
.ipynb_checkpoints/helper-checkpoint.py
.ipynb_checkpoints/incarcerationtrends-checkpoint.ipynb
.ipynb_checkpoints/MAP_GENERATOR_REPORT-checkpoint.ipynb
.ipynb_checkpoints/police_vs_education_spending-checkpoint.ipynb
__pycache__/helper.cpython-38.pyc
data/crdc_enrollment/.ipynb_checkpoints/disability_2011_enrollment-checkpoint.csv
data/crdc_enrollment/.ipynb_checkpoints/lep_2011_enrollment-checkpoint.csv
data/crdc_enrollment/.ipynb_checkpoints/race_2011_enrollment-checkpoint.csv
data/slgeppus0017/.ipynb_checkpoints/readme-checkpoint.txt
data/statebystatespending/.ipynb_checkpoints/1997_combined-checkpoint.csv
data/statebystatespending/.ipynb_checkpoints/2001_combined-checkpoint.csv
charts/sbs_combined/.ipynb_checkpoints/Alabama_realsbs-checkpoint.png
charts/sbs_combined/.ipynb_checkpoints/Alabama_realperchsbs-checkpoint.png
data/.ipynb_checkpoints/dropout_fiscal2010-checkpoint.txt
.ipynb_checkpoints/incarceration_trends-checkpoint.ipynb
.ipynb_checkpoints/map_generator-checkpoint.ipynb
.ipynb_checkpoints/04_incarceration_trends-checkpoint.ipynb
.ipynb_checkpoints/05_police_vs_education_spending-checkpoint.ipynb
.ipynb_checkpoints/06_map_generator-checkpoint.ipynb
.ipynb_checkpoints/01_gather_education_data-checkpoint.ipynb
.ipynb_checkpoints/02_statebystate_wrangling-checkpoint.ipynb
.ipynb_checkpoints/03_education_wrangling-checkpoint.ipynb
.ipynb_checkpoints/06_state_local_police_expenditures-checkpoint.ipynb
.ipynb_checkpoints/07_state_spending-checkpoint.ipynb
.ipynb_checkpoints/08_map_generator-checkpoint.ipynb
.ipynb_checkpoints/09_correlations-checkpoint.ipynb
.ipynb_checkpoints/10_pca-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
._.DS_Store
._04_incarceration_trends.ipynb
._05_police_vs_education_spending.ipynb
._06_state_local_police_expenditures.ipynb
._07_state_spending.ipynb
._08_map_generator.ipynb
._10_pca.ipynb
._helper.py
._README.md
._requirements.txt
.ipynb_checkpoints/._04_incarceration_trends-checkpoint.ipynb
.ipynb_checkpoints/._06_state_local_police_expenditures-checkpoint.ipynb
.ipynb_checkpoints/._05_police_vs_education_spending-checkpoint.ipynb
.ipynb_checkpoints/._07_state_spending-checkpoint.ipynb
.ipynb_checkpoints/._08_map_generator-checkpoint.ipynb
.ipynb_checkpoints/._10_pca-checkpoint.ipynb
.ipynb_checkpoints/MAP GENERATOR REPORT-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/statebystatespending/._State-by-State_Spending_on_Kids_0.xlsx
data/statebystatespending/._State-by-State_Spending_on_Kids_Data_Dictionary_File_0.xlsx
